<div *ngIf="!loading">
  <mat-selection-list
    *ngIf="todosService.todos.length; else noTodos"
    class="todo_list"
    (selectionChange)="onChange($event)"
  >
    <mat-list-option
      *ngFor="let todo of todosService.todos; let i = index"
      checkboxPosition="before"
      [selected]="todo.completed"
      [value]="todo.title"
      (keydown)="$event.stopPropagation()"
    >
      <strong>{{ i + 1 }}</strong>
      <input 
        [value]="todo.title"
        (click)="$event.stopPropagation()"
        (change)="editTodo($event, todo.id)" 
      />
      <!-- <small>{{ todo.date | date: "d/M/yyyy h:mm" }}</small>*/ -->
      <button
        mat-mini-fab
        color="warn"
        aria-label="Example icon button with a filter list icon"
        (click)="removeTodo($event, todo.id)"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-list-option>
  </mat-selection-list>

  <ng-template #noTodos>
    <p style="text-align: center;">All done!</p>
  </ng-template>
</div>

<div *ngIf="loading" class="loader">
  <mat-spinner></mat-spinner>
</div>
