<h3>Registation</h3>

<form
  [formGroup]="registerForm"
  class="add_todo-form"
  novalidate
  (ngSubmit)="authService.signUp(registerForm.value)"
>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="example@gmail.com" formControlName="email" />
    <mat-error
      *ngIf="
        !registerForm.controls['email'].valid &&
        registerForm.controls['email'].touched
      "
    >
      Is it real email?
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput placeholder="password" formControlName="password" />
    <mat-error
      *ngIf="
        !registerForm.controls['password'].valid &&
        registerForm.controls['password'].touched
      "
    >
      Password must contain at least 1 number and 1 uppercase letter
    </mat-error>
    <mat-error
      *ngIf="
        (registerForm.controls['password'].errors.actualLength < registerForm.controls['password'].errors.requiredLength) &&
        registerForm.controls['password'].touched
      "
    >
      Min 8 characters, max 16 characters
    </mat-error>
  </mat-form-field>
  <button
    mat-flat-button
    color="accent"
    type="submit"
    [disabled]="!registerForm.valid"
  >
    Register
  </button>
</form>

<a routerLink="/login" routerLinkActive="active">Login</a>
