.container {
  padding-top: 3rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  h1 {
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
  }

  button {
    position: absolute;
    right: 0;
    top: 1rem;
  }
}
