<div class="authBlock">
  <h3>Sign In</h3>
  <div class="formGroup">
    <input
      type="text"
      class="formControl"
      placeholder="Username"
      #userName
      required
    />
  </div>

  <div class="formGroup">
    <input
      type="password"
      class="formControl"
      placeholder="Password"
      #userPassword
      required
    />
  </div>

  <!-- Calling SignIn Api from AuthService -->
  <div class="formGroup">
    <input
      type="button"
      class="btn btnPrimary"
      value="Log in"
      (click)="authService.SignIn(userName.value, userPassword.value)"
    />
  </div>
</div>

<!--
<form
  [formGroup]="addForm"
  class="add_todo-form"
  novalidate
  (ngSubmit)="addTodo(addForm.value)"
>
  <mat-form-field>
    <mat-label>Add todo</mat-label>
    <input matInput placeholder="Ex. Buy beer" formControlName="title" />
    <mat-error *ngIf="!addForm.controls['title'].valid && addForm.controls['title'].touched">
      You can't add nothing
    </mat-error>
  </mat-form-field>
  <button
    mat-flat-button
    color="accent"
    type="submit"
    [disabled]="!addForm.valid">
    Add
  </button>
</form>  -->
