<h3>Sign In</h3>
<form
  [formGroup]="loginForm"
  class="add_todo-form"
  novalidate
  (ngSubmit)="authService.signIn(loginForm.value)"
>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="stayacid@gmail.com" formControlName="email" />
    <mat-error
      *ngIf="
        !loginForm.controls['email'].valid &&
        loginForm.controls['email'].touched
      "
    >
      Try "stayacid@gmail.com"
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput placeholder="pass123" formControlName="password" />
    <mat-error
      *ngIf="
        !loginForm.controls['password'].valid &&
        loginForm.controls['password'].touched
      "
    >
      Try "pass123"
    </mat-error>
  </mat-form-field>
  <button
    mat-flat-button
    color="accent"
    type="submit"
    [disabled]="!loginForm.valid"
  >
    Login
  </button>
</form>

<a routerLink="/register" routerLinkActive="active">Register</a>
