/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// overwrite default styling
.mat-list-base
  .mat-list-item.mat-list-option
  .mat-list-item-content
  .mat-list-text {
  flex-direction: row;
  align-items: center;
  strong {
    margin-right: 1rem;
  }
  /*small {
    margin: 0 1rem 0 auto!important;
  }*/
}

.todo_list {
  .mat-mini-fab {
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-left: auto !important; // well...

    .mat-button-wrapper {
      padding: 0;
      line-height: 20px;
    }

    .mat-icon {
      height: 18px;
      width: 20px;
    }
    .material-icons {
      font-size: 16px;
    }
  }

  .mat-list-text {
    input {
      background-color: transparent;
      color: #fff;
      border: none;
      padding: 5px !important;
      box-shadow: 0px 2px 0px 0px #fff;
      width: 100%;
      margin-right: 1rem !important;

      &:focus {
        outline: 1px solid #666;
      }
    }
  }
}
